<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="keyword..." id="keywordInpt">
        <span class="input-group-btn">
        <button class="btn btn-primary" type="button" id="searchBtn">搜索</button>
      </span>
        </div>
    </div>
</div>
